.notify-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 838px;
    z-index: 999;
}

.notify-box {
    width: 460px;
    height: 160px;
    background-color: #f8efe8;
    font-size: 20px;
    font-family: 'Chosunilbo_myungjo', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    animation: fadeIn 2s;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
        margin-bottom: 200px;
        opacity: 0;
    }
    100% {
        margin-bottom: 150px;
        opacity: 1;
    }
}
